<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Saveetha Engineering College</title>
</head>

<body>
    <div class="jumbotron">
        <div class="container">
             <h1 class="display-4 text-center">ROBOTIC EVENT</h1>
            <p class="lead text-center">Course As A Part Of Cirriculum</p>
            <hr class="my-4">
            <p class="text-center">Department of Artificial Intelligence</p>
            <p class="lead text-center">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>PARTICIPANTS LIST</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">NAME</th>
                            <th scope="col">EMAIL</th>
                            <th scope="col">PHONE</th>
                            <th scope="col">INSTITUTION</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>bhavya</td>
                            <td>bhavya@gmail.com</td>
                            <td>6303583708</td>
                            <td>Saveetha Engineering College</td>
                        </tr>

                        <tr>
                            <td>Srinivas</td>
                            <td>Srinivas@gmail.com</td>
                            <td>9985749221</td>
                            <td>Saveetha Engineering College</td>
                        </tr>

                        <tr>
                            <td>obed</td>
                            <td>obed@gmail.com</td>
                            <td>9987898776</td>
                            <td>Saveetha Engineering college</td>
                        </tr>

                        <tr>
                            <td>kavya</td>
                            <td>kavya@gmail.com</td>
                            <td>9909867889</td>
                            <td>Saveetha Engineering college</td>
                        </tr>

                        <tr>
                            <td>swetha</td>
                            <td>swetha@gmail.com</td>
                            <td>9987654332</td>
                            <td>Saveetha Engineering college</td>
                        </tr>

                        <tr>
                            <td>Saran</td>
                            <td>Saran@gmail.com</td>
                            <td>9879098555</td>
                            <td>Saveetha Engineering college</td>
                        </tr>

                        <tr>
                            <td>priya</td>
                            <td>priya23@gmail.com</td>
                            <td>9998765433</td>
                            <td>Saveetha Engineering college</td>
                        </tr>

                        <tr>
                        <tr>
                            <td>kayal</td>
                            <td>kayal77@gmail.com</td>
                            <td>8909876789</td>
                            <td>Saveetha Engineering college</td>
                        </tr>

                        <tr>
                            <td>sandhya charu</td>
                            <td>charu89@gmail.com</td>
                            <td>8000987680</td>
                            <td>Saveetha Engineering college</td>
                        </tr>

                        <tr>
                            <td>Harshini</td>
                            <td>Harshi34@gmail.com</td>
                            <td>7000678967</td>
                            <td>Saveetha Engineering college</td>
                        </tr>

                        <tr>
                            <td>sanjana</td>
                            <td>sanju45@gmail.com</td>
                            <td>6302181823</td>
                            <td>Saveetha Engineering college</td>
                        </tr>

                        <tr>
                            <td>dhayanitha</td>
                            <td>dhaya90@gmail.com</td>
                            <td>6302181814</td>
                            <td>Saveetha Engineering college</td>
                        </tr>

                        <tr>
                            <td>sahitya</td>
                            <td>sahitya23@gmail.com</td>
                            <td>9087765788</td>
                            <td>Saveetha Engineering college</td>
                        </tr>

                        <tr>
                            <td>vidya</td>
                            <td>vidya45@gmail.com</td>
                            <td>9998765789</td>
                            <td>Saveetha Engineering college</td>
                        </tr>

                         <tr>
                            <td>sushma</td>
                            <td>sush3456@gmail.com</td>
                            <td>9998765788</td>
                            <td>Saveetha Engineering college</td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a href="/home/" class="btn btn-primary btn-lg" role="button">Home</a>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>